.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.table {
    border-collapse: collapse;
}
tr td:last-child {
    display: flex;
    align-items: center;
}