body{background:#f5f5f5}
.text-white-50 { color: rgba(255, 255, 255, .5); }
.bg-blue { background-color:#00b5ec; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.siz {
    font-size: 30px;
}
.ti-agenda{font-size: 10px;}
.rm{font-size: 15px;
}
<<<<<<< HEAD
.table1{
    display: flex;
    justify-content: center;
    align-content: center;
=======
.nm{
    color: black;
>>>>>>> a17d86de01a3259d02cbd585d173a6f6f4e7469d
}