.timerBox {
    background-color: #ADD8E6;
    height: 40px;
    padding: 8px 15px;
    border: 1px solid #444;
    color: #004085;
    align-items: center;
    border-radius: 100px;
}
.ab {
    color: purple;
    font-size: 20px;
    padding-left: 50px;
}
.maini
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160vh;
    
}
.box {
    width: 940px;
    background-color: #ECECEC;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    min-height: 900px;
    padding: 130px 90px;
   
   
    
}
.titlee {
    
    color: #002752;
    font-weight: 600;
    margin-bottom: 20px;
 
    font-size: 20px;
    
}
.hee {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.questionBox {
    color: #002a80;
    padding: 10px 15px;
    font-size: 30px;
}
.optionBox {
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px 0;
    grid-gap: 15px;
    padding-left: 50px;
}

.optionBox span {
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 1px solid #000;
    padding: 10px 15px;
    width: 200px;
}
.footer {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
}
.optionBox button {
    background-color: #04AA6D;
    border-radius: 5px;
    padding: 7px 15px;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 20px;
}
.resultBox {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    font-size: 20px;
    padding-top: 20px;
}
.resultBox *:nth-child(odd) {
    text-align: right;
}
.resultBox span {
    font-weight: 600;
    color: #002752;
}
.resultBox label {
    font-weight: 600;
    color: #002752;
}
