.cert{
    background-color: #1c7430;
    border-radius: 10px;
    padding: 20px 80px;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 20px;width: 100px;
}
.serti{
    padding-top: 100px;
    padding-left:20px;
}